/* styles.css */
body {
    background: lightblue;
    text-align: center; /*text-align*/
    font-family: Arial, sans-serif; /*font-family*/
}

h1 {
    font-size: 24px; /*font-size*/
    color: blue; /*blue;*/
}

.message {
    font-weight: bold; /*bold;*/
    color: red;
}
